body, html {
	font-size:15px;
	font-family:sans-serif;
	color:black;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	width:100%;
}

p {
	font-family:serif;
	font-size:1rem;
	color:#223344;
}

h1 {
	font-weight:lighter;
	color:dimgray;
	margin:inherit;
}

h2 {
	font-size:1.2rem;
}

a#skip-to-main { display:none; }
a#back-to-top { display:none; }

/* IN home-header */

header#home-header {
	/* background:green; */
	text-align:center;
}

div#home-header-inner {
	margin-left:5vw; margin-right:5vw;
	/* display:flex; */
	align-items:center;
	line-height:.5rem;
}

div#home-header-inner a {
	/* font-size:smaller; */
	color:dimgray;
	text-decoration:none;
}

div#site-logo {
	float:left;
	/* background:green; */
}

div#site-navi-wrap {
	/* background:yellow; */
}

div#site-navi-inner ul {
	list-style:none;
}
div#site-navi-inner li {
	margin:10px;
	display:inline;
}


/* IN main */

div#main-header-container {
	text-align:center;
	background:lightgray;
	line-height:5rem;
}
div#main-content-container {
	margin-left:5vw; margin-right:5vw;
}

div#contactinfo-container {
	font-weight:lighter;
	font-size:smaller;
	/* display:flex; */
	align-items:center;
	/* background:red; */
	/* line-height:.5rem; */
	float:left;
	width:20%;
}
img#contactinfo-picture {
	width:100%;
}
footer.contactinfo {
	text-align:center;
	color:gray;
}
a.contactinfo-email {
	font-family:monospace;
	text-decoration:none;
}

